.THIS .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.THIS .visibleButtons {
    display: inline-block;
}
.THIS .invisibleButtons {
    display: none;
}