.THIS .slds-modal__container {
    max-width: 50rem;
}

.THIS .slds-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.THIS .buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.THIS .spacedButton {
    margin-right: 10px; 
}
.THIS .pageTitleContainer{
    padding: 15px;
    background-color: white;
}

.THIS .Pagetitle{
    color : rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.THIS .communitiesSelect {
    margin-top: 20px;
}
.THIS .filterIconContainer {
    display: flex;
    justify-content: flex-end;
}
.THIS .slds-button {
    /* width: fit-content; */
    align-self: flex-end;
}
.THIS .deleteBtn {
    background-color: rgb(240, 60, 60);
    border: none;
}
.THIS .deleteBtn:hover {
    background-color: rgb(240, 48, 48);
}

.THIS .slds-modal__header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
}
.THIS .slds-textarea {
    height: 150px;
    margin-bottom: 10px;
}
.THIS .updateUserButton {
    margin-top: 20px;
    
}
.THIS .filterIconBtn {
    margin-top: 15px;
}
.THIS .slds-text-color_success {
    color: green;
    font-weight: bold;
}

.THIS .slds-text-color_error {
    color: red;
    font-weight: bold;
}
.THIS .slds-p-around_small{
    height: 100%;
}


.THIS .slds-table_header-fixed_container {
    height: auto;
}
.THIS .slds-align_absolute-center {
    margin-top: 10px;
}

.THIS .btnCommunity {
    display: block;
    width: 510px;
    margin-bottom: 10px;
}